*/HELP.md
.gradle
build/
dependency-reduced-pom.xml
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.metadata
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#Git
.gitconfig*
!/.gitignore

# Build Files
**/target/
**/out/
**/build/
**/bin/
*.log
*.log.*
*.gz
*.tmp
*.class

Helm
**/charts/*.tgz
requirements.lock

.cache
.DS_Store
*.swp

